*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(29,35,42);
  background: linear-gradient(98deg, rgba(29,35,42,1) 0%, rgba(43,13,92,1) 58%, rgba(54,54,54,1) 100%);
}

img {
  width: 240px;
  height: 320px;
    display: block;
  }

  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 40px;
  }

  li{
    font-size: 10px;
    list-style: none;
  }

  .titulo-1{
    text-align: center;
    color: #fff;
    margin-top: 50px;
    text-transform: uppercase;
    font-family: 'Tilt Warp', cursive;
  }

  #botao{
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 30px;
    color: #fff;
    background-color: rebeccapurple;
    border: 2px solid currentColor;
  }

  #botao:hover{
    color: rebeccapurple;
    background-color: #FFF;
    border: 2px solid currentColor;
  }

  /* .cards-magic{
    background-color: #c2c1c1;
    max-width: 100%;
    overflow-x: scroll;
  } */

  .swiper {
      width: 240px;
      height: 320px;
      
  }

  .swiper-slide{
    display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border-radius: 12px;
  }

  .cartas-lootbox{
    margin-top: 50px;
  }